.row-section { /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #734b6d, #42275a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row-section h4 {
  text-align: center;
  width: 100%;
  color: #42275a;
  margin-bottom: 30px;
  font-size: 20px;
}

.row-section .row-block {
  background: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

.btn-default {
  background: #6B456A;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

textarea {
  resize: none;
  word-wrap:break-word;
}
