.row-section {
  float: left;
  width: 100%;
  background: #734b6d;
}

.row-section h5 {
  float: left;
  width: 100%;
  color: #42275a;
  margin-left: 15px;
  margin-top: 8px;
  font-size: 16px;
}

.row-section .row-block {
  background: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

.row-section .row-block ul {
  margin: 0;
  padding: 0;
}

.row-section .row-block ul li {
  list-style: none;
  margin-bottom: 20px;
}

.row-section .row-block ul li:last-child {
  margin-bottom: 0;
}

.row-section .row-block ul li:hover {
  cursor: grabbing;
}

.row-section .row-block .media {
  border: 1px solid #d5dbdd;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
}

.row-section .media .media-body h3 {
  color: #6b456a;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 14px;
  margin-top: 12px;
}

.row-section .media .media-body h4{
  font-size: 18px;
  color: #42A948;
}

.p-3 py-5 btn-default:not(:last-child) {
  border-right: none;
}

.btn-default {
  background: #6B456A;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.btn-group a{
  background-color: #6B456A; /* Green background */
  border: 1px solid #3d273c; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/*.btn-default {
  background: #6B456A;
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  float: left;
}*/

.btn-group a:hover {
  background-color: #4c314c;
}

.btn-default:active{
  background-color: #4c314c;
}

.btn-group a:focus {
  background-color: #4c314c;
}
