<section class="row-section">
  <br>
  <div class="container">
    <div class="col-md-10 offset-md-1 row-block">
      <input class="form-control" id="myInput" type="text" placeholder="Search.." (change)="filterList($event)">
      <br>
      <ul id="sortable" *ngFor="let internship of internships">
        <li>
          <div class="media">
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">{{internship.name}}</h4>
              </div>
              <pre></pre>
              <div class="d-flex w-100 justify-content-between" data-toggle="tooltip"
                   title="Нажмите на компанию чтобы посмотреть информацию" *ngIf="hasAccess; else elseBlock">
                <h5 class="mb-1" (click)="goToCompany(internship.company.id)">{{internship.company.name}}</h5>
              </div>
              <pre></pre>
              <p class="mb-1">{{internship.description}}</p>
            </div>
            <pre></pre>
            <div class="media-right align-self-center">
              <button href="#" class="btn btn-default" (click)="goToTheLink(internship); addInternshipToStudent(internship.id)"
                      *ngIf="isStudent">Откликнуться
              </button>

              <ng-template #elseBlock><h5 class="mb-1">{{internship.company.name}}<br><br></h5></ng-template>
            </div>
          </div>
        </li>
        <br>
      </ul>
      <div class="col-2 m-5">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center experience"><a class="btn btn-default" *ngIf="isStudent"
                                                                                       (click)="showStudentsInternships()">&nbsp;
            Просмотр моих стажировок</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('[data-toggle="tooltip"]').tooltip({
    placement: 'right',
  });
</script>
