<section class="row-section">
  <br>
  <div class="container">
    <div class="col-md-10 offset-md-1 row-block">
      <input class="form-control" id="myInput" type="text" placeholder="Search.." (change)="filterList($event)">
      <br>
      <ul id="sortable" *ngFor="let internship of internships">
        <li>
          <div class="media">
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">{{internship.name}}</h4>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" (click)="goToCompany(internship.company.id)">{{internship.company.name}}</h5>
              </div>
              <p class="mb-1">{{internship.description}}</p>
            </div>
            <div class="media-right align-self-center">
              <button href="#" class="btn btn-default" (click)="goToTheLink(internship)" *ngIf="hasAccess; else elseBlock">Откликнуться</button>
                <ng-template #elseBlock></ng-template>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

