{{ user | json }}
<div class="container">
  <form #companyFormSpy="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input required id="username" #name="ngModel" type="text" [(ngModel)]="user.username" class="form-control"  name="username">
      <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
        Поле 'Имя' обязательно для заполнения
      </div>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required id="password" #password="ngModel" type="text" [(ngModel)]="user.password" class="form-control"  name="password">
      <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
        Поле 'Пароль' обязательно для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="select">Please choose the role</label>
      <select id="select" [(ngModel)] = "user.role_id"  name = "role">
        <option type="radio" value="2">Student</option>>
        <option type="radio" value="3">Company</option>
      </select>
    </div>
    <input type="submit" class="btn btn-success" (click)="onSubmit()" text="save">
    <button type="button" (click)="cleanButtonClicked(); companyFormSpy.reset()" class="btn btn-light">delete</button>
  </form>
</div>
