{{ form.value | json }}
{{ user | json }}
<!--<div class="container">
  <form #companyFormSpy="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input required id="username" #name="ngModel" type="text" [(ngModel)]="user.username" class="form-control"  name="username">
      <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
        Поле 'Имя' обязательно для заполнения
      </div>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required id="password" #password="ngModel" type="text" [(ngModel)]="user.password" class="form-control"  name="password">
      <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
        Поле 'Пароль' обязательно для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="select">Please choose the role</label>
      <select id="select" [(ngModel)] = "user.role_id"  name = "role">
        <option type="radio" value="2">Student</option>>
        <option type="radio" value="3">Company</option>
      </select>
    </div>
    <input type="submit" class="btn btn-success" (click)="onSubmit()" text="save">
    <button type="button" (click)="cleanButtonClicked(); companyFormSpy.reset()" class="btn btn-light">delete</button>
  </form>
</div>-->
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div class="register-form">
      <form [formGroup]="form">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
          />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">
              Username must be at least 6 characters
            </div>
            <div *ngIf="f['username'].errors['maxlength']">
              Username must not exceed 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Username must not exceed 40 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
          />
          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['confirmPassword'].errors['required']">
              Confirm Password is required
            </div>
            <div *ngIf="f['confirmPassword'].errors['matching']">
              Confirm Password does not match
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="select">Роль</label>
          <select id="select" [(ngModel)] = "f['role']" formControlName="role"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f['role'].errors}">
            <option type="radio" value="student">Студент</option>
            <option type="radio" value="company">Компания</option>
          </select>
          <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
            <div *ngIf="f['role'].errors['required']">Role is required</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" (click)="onSubmit()" class="btn btn-primary">Register</button>
          <!--<button type="button" (click)="cleanButtonClicked()"  class="btn btn-warning float-right">Reset</button>-->
        </div>
      </form>
    </div>
      <div class="alert alert-warning" *ngIf="submitted && isSignUpFailed">
        Вход не выполнен!<br />{{ errorMessage }}
      </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Вход выполнен успешно!
    </div>
  </div>
</div>
